<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Adding New Product</title>
<link rel="stylesheet" href="css/addElementCss.css">
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
	href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
	rel="stylesheet" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<header>
		<div class="navigation">
			<div class="img">
				<img src="img/logo2.png">
			</div>
			<div class="navigation-item">
				<a th:href="@{/showOrders}" class="navLinks">Orders</a>
			</div>
			<div class="navigation-item">
				<a th:href="@{/showInventory}" class="navLinks">Inventory</a>
			</div>
			<div class="navigation-item">
				<a th:href="@{/showReports}" class="navLinks">Reports</a>
			</div>
			<div class="navigation-item">
				<a th:href="@{/showShipping}" class="navLinks">Shipment</a>
			</div>
			<div class="navigation-item navRight">
				<a th:href="@{/showStores}" class="navLinks">Stores</a>
			</div>
			<div class="navigation-item dividorL">
				<span style="color: white;">|</span>
			</div>
			<div class="navigation-item userIcon current">
				<a th:href="@{/showUsers}" class="">
				<i class="fa fa-user fa-2x" aria-hidden="true" title="User Page" style="color: white;">
				</i>
				</a>
			</div>
			<div class="navigation-item dividor">
				<span style="color: white;">|</span>
			</div>
			<div class="navigation-item logoutIcon">
				<a th:href="@{/logout}" class="">
				<i class="fa fa-sign-out fa-2x" aria-hidden="true" title="Log Out"
					style="color: white;"></i>
				</a>
			</div>
		</div>
	</header>

	<div class="main">

		<div class="containerDiv">
			<a th:href="@{/showUsers}" class="styledLink"><i
				class="fa fa-arrow-left" aria-hidden="true"></i> &nbsp;Employee List</a>
		</div>
		<h2 class="title">Add New Employee</h2>


		<div class="container">
			<form th:action="processAddEmployee" method="POST"
				th:object="${employeeToAdd}">
				<div class="col-half">
					<div class="row">
						<div class="col-half">
							<h4>First Name</h4>
							<input type="text" th:field="*{firstName}"
								placeholder="First Name" required>
						</div>
						<div class="col-half">
							<h4>Last Name</h4>
							<input type="text" th:field="*{lastName}" placeholder="Last Name"
								required />
						</div>
					</div>
					<div class="row">
						<div class="col-half">
							<h4>Department</h4>
							<!-- 
							<select name="dept" th:field="*{dept}">
								<option
									th:each="dept : ${departmentList}"
									th:value="${dept.id}" th:text="${dept.name}"></option>
							</select>
							 -->
						</div>
						<div>
							<h4>Job Role</h4>
							<select name="jobRole" th:field="*{jobRole}">
								<option
									th:each="jobRole : ${T(ca.nbcc.retailapp.model.JobRole).values()}"
									th:value="${jobRole}" th:text="${jobRole}"></option>
							</select>
						</div>
					</div>
				</div>
				<div class="col-half">
					<div class="row">
						<h4>Extra Details</h4>
						<div class="col-half">
							<label>Username</label> <input type="text" th:field="*{username}"
								placeholder="Username" required />
						</div>
						<div class="col-half">
							<label>Password</label> <input type="password"
								th:field="*{password}" placeholder="Password" required />
						</div>
						<div class="col-half">
							<label>Phone</label>
							<div class="">
								<input type="text" th:field="*{phone}" placeholder="Phone"
									required />
							</div>
						</div>
						<div class="col-half">
							<label>Email</label>
							<div class="">
								<input type="text" th:field="*{email}" placeholder="Email"
									required />
							</div>
						</div>

						<div class="">
							<label>Address</label>
							<div class="">
								<input type="text" th:field="*{address}" placeholder="Address"
									required />
							</div>
						</div>
					</div>
				</div>
				<input type="submit" class="button-31" value="Add Employee">

			</form>
		</div>
	</div>
</body>
</html>