<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>View Product</title>
<link rel="stylesheet" href="../css/addElementCss.css">
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
	href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
	rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
		<header>
		<div class="navigation">
			<div class="img">
				<img src="../img/logo2.png">
			</div>
			<div class="navigation-item">
				<a th:href="@{/showOrders}" class="navLinks">Orders</a>
			</div>
			<div class="navigation-item current">
				<a th:href="@{/showInventory}" class="navLinks">Inventory</a>
			</div>
			<div class="navigation-item">
				<a th:href="@{/showReports}" class="navLinks">Reports</a>
			</div>
			<div class="navigation-item">
				<a th:href="@{/showShipping}" class="navLinks">Shipment</a>
			</div>
			<div class="navigation-item navRight">
				<a th:href="@{/showStores}" class="navLinks">Stores</a>
			</div>
			<div class="navigation-item dividorL">
				<span style="color: white;">|</span>
			</div>
			<div class="navigation-item userIcon">
				<a th:href="@{/showUsers}" class="">
				<i class="fa fa-user fa-2x" aria-hidden="true" title="User Page" style="color: white;">
				</i>
				</a>
			</div>
			<div class="navigation-item dividor">
				<span style="color: white;">|</span>
			</div>
			<div class="navigation-item logoutIcon">
				<a th:href="@{/logout}" class="">
				<i class="fa fa-sign-out fa-2x" aria-hidden="true" title="Log Out"
					style="color: white;"></i>
				</a>
			</div>
		</div>
	</header>

	<div class="main">

		<div class="containerDiv">
			<a th:href="@{/showProducts}" class="styledLink"><i class="fa fa-arrow-left" aria-hidden="true"></i> &nbsp;Products List</a>
		</div>
		<h2 class="title">
			Info for Product: <span th:text="${productToView.name}"></span>
		</h2>


		<div class="container">
			<div class="col-half-right">
				<a th:href="@{/edit-product/{pId} (pId = ${productToView.id})}"><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i></a>
			</div>
			<div class="row">
				<h4>Product Description</h4>
				<div class="attributeField" th:text="${productToView.description}"></div>
			</div>
			<div class="row">
				<div class="col-half">
					<h4>Category</h4>
					<div class="attributeField" th:text="${productToView.category}"></div>
				</div>
				<div class="col-half">
					<h4>Supplier</h4>
					<div class="attributeField" th:text="${productToView.suplier.name}"></div>
				</div>
			</div>
			<div class="row">
				<h4>Extra Details</h4>
				<div class="">
					<label>Reorder Level</label>
					<div class="attributeField" th:text="${productToView.reorderLevel}"></div>
				</div>

				<label>Weight (Kg)</label>
				<div class="">
					<div class="attributeField" th:text="${productToView.weight}"></div>
				</div>

				<div class="col-half">
					<label>Size (m³)</label>
					<div class="">
						<div class="attributeField" th:text="${productToView.size}"></div>
					</div>
				</div>
				<div class="col-half">
					<label>Case Size (m³)</label>
					<div class="">
						<div class="attributeField" th:text="${productToView.caseSize}"></div>
					</div>
				</div>

				<div class="col-half">
					<label>Price</label>
					<div class="">
						<div class="attributeField" th:text="${#numbers.formatCurrency(productToView.price)}">50</div>
					</div>
				</div>

				<div class="col-half" style="margin-left: 0em; padding-right: 10px;">
					<label>Color</label>
					<div class="">
						<div class="attributeField" th:text="${productToView.color}"></div>

					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>