<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Adding New Supplier</title>
<link rel="stylesheet" href="../css/addElementCss.css">
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
	href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
	rel="stylesheet" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

		<header>
		<div class="navigation">
			<div class="img">
				<img src="../img/logo2.png">
			</div>
			<div class="navigation-item">
				<a th:href="@{/showOrders}" class="navLinks">Orders</a>
			</div>
			<div class="navigation-item current">
				<a th:href="@{/showInventory}" class="navLinks">Inventory</a>
			</div>
			<div class="navigation-item">
				<a th:href="@{/showReports}" class="navLinks">Reports</a>
			</div>
			<div class="navigation-item">
				<a th:href="@{/showShipping}" class="navLinks">Shipment</a>
			</div>
			<div class="navigation-item navRight">
				<a th:href="@{/showStores}" class="navLinks">Stores</a>
			</div>
			<div class="navigation-item dividorL">
				<span style="color: white;">|</span>
			</div>
			<div class="navigation-item userIcon">
				<a th:href="@{/showUsers}" class="">
				<i class="fa fa-user fa-2x" aria-hidden="true" title="User Page" style="color: white;">
				</i>
				</a>
			</div>
			<div class="navigation-item dividor">
				<span style="color: white;">|</span>
			</div>
			<div class="navigation-item logoutIcon">
				<a th:href="@{/logout}" class="">
				<i class="fa fa-sign-out fa-2x" aria-hidden="true" title="Log Out"
					style="color: white;"></i>
				</a>
			</div>
		</div>
	</header>

	<div class="main">

		<div class="containerDiv">
			<a th:href="@{/browse-supplier/{sId} (sId = ${sToEdit.id})}" class="styledLink"><i
				class="fa fa-arrow-left" aria-hidden="true"></i> &nbsp;Supplier: <span th:text="${sToEdit.name}"></span></a>
		</div>
		<h2 class="title">Update Supplier</h2>


		<div class="container">
			<form th:action="@{/updateSupplier}" method="POST"
				th:object="${sToEdit}">
				<input type="hidden" th:field="*{id}"><br>
				<div class="col-half">
					<h4>Supplier Name</h4>
					<input type="text" th:field="*{name}" placeholder="Name" required>
				</div>
				<div class="col-half">
					<h4>Supplier Address</h4>
					<textarea th:field="*{address}" placeholder="Address" required></textarea>
				</div>
		<input type="submit" class="button-31" value="Update Supplier">
		</form>
					<div class="containerDelete">
				<a th:href="@{/deleteSupplier/{sId} (sId = ${sToEdit.id})}"
					class="button-31 deleteBtn">Delete Supplier</a>
			</div>
	</div>
	</div>
</body>
</html>

</body>
</html>