<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorator="layout/root_layout" lang="en">
<head>
<meta charset="ISO-8859-1">
<title>Reports Page</title>
<link rel="stylesheet" href="css/styles.css">
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
	href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
	rel="stylesheet" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body sec:authorize="hasRole('ADMIN')">
	<header>
		<div class="navigation">
			<div class="img">
				<img src="img/logo2.png">
			</div>
			<div class="navigation-item">
				<a th:href="@{/showOrders}" class="navLinks">Orders</a>
			</div>
			<div class="navigation-item ">
				<a th:href="@{/showInventory}" class="navLinks">Inventory</a>
			</div>
			<div class="navigation-item">
				<a th:href="@{/showReports}" class="navLinks">Reports</a>
			</div>
			<div class="navigation-item current">
				<a th:href="@{/showShipping}" class="navLinks">Shipment</a>
			</div>
			<div class="navigation-item navRight">
				<a th:href="@{/showStores}" class="navLinks">Stores</a>
			</div>
			<div class="navigation-item dividorL">
				<span style="color: white;">|</span>
			</div>
			<div class="navigation-item userIcon">
				<a th:href="@{/showUsers}" class=""> <i class="fa fa-user fa-2x"
					aria-hidden="true" title="User Page" style="color: white;"> </i>
				</a>
			</div>
			<div class="navigation-item dividor">
				<span style="color: white;">|</span>
			</div>
			<div class="navigation-item logoutIcon">
				<a th:href="@{/logout}" class=""> <i
					class="fa fa-sign-out fa-2x" aria-hidden="true" title="Log Out"
					style="color: white;"></i>
				</a>
			</div>
		</div>
	</header>

	<div class="main">
		<div class="content left">

			<div class="userInfo">
				<i class="fa fa-user-circle fa-5x" aria-hidden="true"></i>
				<h2>
					Hello, <span sec:authentication="name"></span>
				</h2>
			</div>

			<form th:action="@{/filterShipping}" method="POST"
				class="search-form">
				<div class="orderBy row">
					<div class="orderBy-title">Order by:</div>

					<div class="item">
						<div class="radio"
							th:if="${orderBySelected == null || orderBySelected == 'id'}">
							<input id="productId" name="orderBy" type="radio" value="id"
								checked> <label for="productId" class="radio-label">Order
								ID</label>
						</div>
						<div class="radio"
							th:unless="${orderBySelected == null || orderBySelected == 'id'}">
							<input id="productId" name="orderBy" type="radio" value="id"
								checked> <label for="productId" class="radio-label">Order
								ID</label>
						</div>
					</div>

					<div class="item">
						<div class="radio" th:if="${orderBySelected == 'orderDate'}">
							<input id="quantity" name="orderBy" type="radio"
								value="orderDate" checked> <label for="quantity"
								class="radio-label">Leave Date</label>
						</div>
						<div class="radio" th:unless="${orderBySelected == 'orderDate'}">
							<input id="quantity" name="orderBy" type="radio"
								value="orderDate"> <label for="quantity"
								class="radio-label">Leave Date</label>
						</div>
					</div>

					<div class="item">
						<div class="radio" th:if="${orderBySelected == 'arriveDate'}">
							<input id="location" name="orderBy" type="radio"
								value="arriveDate" checked> <label for="location"
								class="radio-label">Arrive Date</label>
						</div>
						<div class="radio" th:unless="${orderBySelected == 'arriveDate'}">
							<input id="location" name="orderBy" type="radio"
								value="arriveDate"> <label for="location"
								class="radio-label">Arrive Date</label>
						</div>
					</div>
					<div class="">
						<input type="submit" value="Order" class="button-31 addElement">
					</div>
				</div>
			</form>

			<div class="otherLinks">
				Go To ...
				<div>
					<a th:href="@{/showOrders}" class="button-31">Orders List</a>
				</div>
			</div>
		</div>

		<div class="content right">
			<div th:if="${shippingList.size() == 0}">
				<h2 class="center">No Shipments Found</h2>
			</div>

			<div class="right-content-header">
				<div class="search-container">
					<form th:action="@{/showShipping}" method="GET" class="search-form">
						<input type="number" name="oId" th:value="${oId}"
							placeholder="Search By Order ID..."> <input type="submit"
							value="Search">
					</form>
				</div>
			</div>

			<div th:unless="${shippingList.size() == 0}">
				<div class="display-list">
					<div class="list-title">
						<h2>
							Shipments List &nbsp;<i
								class="fa fa-truck fa-1x fa-flip-horizontal" aria-hidden="true"></i>
						</h2>
					</div>

					<div class="table-container">
						<table class="styled-table">
							<!-- Dinamically updated by the DB -->
							<thead>
								<tr>
									<th>Shipment ID</th>
									<th>Order ID</th>
									<th>Leave Date</th>
									<th>Possible Arrive Date</th>
									<th>Status</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="shipping : ${shippingList}">
									<td th:text="${shipping.id}"></td>
									<td th:text="${shipping.order.getId()}"></td>
									<td th:text="${shipping.leaveDate}"></td>
									<td th:text="${shipping.arriveDate}"></td>
									<td th:text="${shipping.status}"></td>
									<td><a
										th:href="@{/browse-shipping/{sId} (sId=${shipping.id})}"
										class="elementDetails">Details</a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

		</div>
	</div>



</body>
</html>